.content-main {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-type {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-type div {
  margin: 2rem auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 15rem;
}

.content-type section {
  margin: 2rem 0;
}

.my-form {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
}

.my-table {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
}

.scrollit {
  overflow: scroll;
  height: 120px;
}

.my-chart {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
  background-color: lightgrey;
}

.my-calendar {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
  background-color: lightgrey;
}
