* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

.main-navbar ul {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
}

.main-navbar ul li {
  list-style: none;
  padding: 0.75rem;
}

.main-navbar li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

.main-navbar li a:hover {
  color: aquamarine;
}

.main-navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: none;
  background: black;
}

.main-navbar ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  border-radius: 5%;
  padding-left: 0rem;
  transition-delay: 0.35s;
  opacity: 0.9;
}

.dropdown.right-menu {
  margin-left: 6.3rem;
  padding-top: 0rem;
  margin-top: -2rem;
}

.navbar > div > a > svg {
  width: 3rem;
}

.btn-black {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-black:hover {
  color: aquamarine;
}
